@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order Placed Successfully!</h1>
        Your Order number is: <strong>@Model</strong>
        <img src="~/images/sunflower.jpg" width="65%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Your order will be delivered to you within 3-5 business days.<br />
    </div>
</div>