@{
    ViewData["Title"] = "Products";
}
@model List<Product>


<div class="container">
    <div class="row pt-4">

        <div class="col-6">
            <h4 class"text-primary">
                Product list
            </h4>
        </div>

        <div class="col-6 text-end">
            <a asp-contoller="Product" asp-action="Upsert" class="btn border-0 btn-primary" style="background-color:black !important;>
                <i class="bi bi-plus-circle"></i> Create New Product
            </a>
        </div>

    </div>
</div>

<table id="tblData" class="table table-bordered table-striped" style="background-color:white;">
    <thead style="background-color:white;">
        <tr style="background-color:white;">
            <th style="background-color:white !important;">
                Title
            </th>
            <th style="background-color:white;">
                ISBN
            </th>
            <th style="background-color:white;">
                Author
            </th>
            <th style="background-color:white;">
                ListPrice
            </th>
            <th style="background-color:white;">
                Category
            </th>
            <th style ="background-color:white;">

            </th>
        </tr>
    </thead>
    @* <tbody>

    </tbody> *@
</table>

@section Scripts {
    @{
        <script src="~/js/product.js"></script>
    }
}


